/* google-fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* body  */

body {
  font-family: "Montserrat", sans-serif;
}

/* header background */
.header-bg {
  background-color: #264653;
}

/* nav items */

.nav-item:hover {
  background: #23a6f0;
  border-radius: 5px;
}

/* login-button */
.menu-login-btn {
  background-color: #e76f51;
}
/* Header honda subtitle  */
.header-honda-subtitle {
  color: #e0e0e0;
  line-height: 30px;
}

/* modal button  */
.modal-btn {
  background-color: #e76f51;
  padding: 10px;
  width: 168px;
}
/* fetured bike  */
.fetured-bike-subtitle {
  color: #e76f51;
}
.fetured-bike img {
  filter: grayscale(100%);
}

.fetured-bike .fetured-bike-without-grayscale {
  filter: grayscale(0%);
}

/* happy clients */
.happy-clients-span-txt {
  color: #e76f51;
}

.clients-img {
  width: 149px;
  margin: 35px auto;
}

.clients-says {
  color: gray;
  font-size: 16px;
  padding: 0 20px;
  line-height: 30px;
}

.fa-star {
  color: #e76f51;
  font-size: 25px;
}

.clients-name {
  color: #23a6f0;
}

/* accordition  */
.accordion-body {
  color: gray;
}

/* money back section  */

.money-back-section {
  background-color: #264653;
}
.money-back-subtitle {
  line-height: 30px;
}

/* review form  */
.user-review-section {
  border: 1px solid #e0e0e0;
  margin: 15px;
  padding-bottom: 30px;
  border-radius: 5px;
}
.review-form {
  border: 1px solid #e0e0e0;
  padding: 15px;
  border-radius: 5px;
}

/* footer section  */
footer {
  background-color: black;
}
.footer-title {
  color: white;
}
.footer-subtitle {
  color: white;
  font-size: 12px;
  text-align: justify;

  line-height: 20px;
}
